
@section Script{
    <script src="~/Resources/SinhVien/BaoCaoTienDo.js">
    </script>
    <script>
        //// func
        var EditAction = function (id) {
            url = "/SinhVien/BaoCaoTienDo/CreateEdit/" + id;
            $('#modal-lg .modal-body').html('');
            $('#modal-lg .titleHeader').html('Chỉnh sửa báo cáo');
            $.get(url, function (data) {
                $('#modal-lg .modal-body').html(data);
                $('#modal-lg').modal();
            });
        }

        var CreateAction = function () {
            url = "/SinhVien/BaoCaoTienDo/CreateEdit/";
            $('#modal-lg .modal-body').html('');
            $('#modal-lg .titleHeader').html('Tạo báo cáo');
            $.get(url, function (data) {
                $('#modal-lg .modal-body').html(data);
                $('#modal-lg').modal();
            })
        }
    </script>
}
@if (ViewBag.Check == true)
{<div class="content-header">
        <div class="row">
            <h1 class="col text-center">Báo cáo tiến độ đề tài</h1>
        </div>

       
        <hr />
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <h5 class="col text-center">@ViewBag.TenDeTai</h5>
            </div>
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-hover dataTable table-sm" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="example1">
                                    STT
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1">
                                    Ngày nộp
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1">
                                    Tuần nộp
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1">
                                    Nội dung
                                </th>
                                <th class="sorting_desc" tabindex="0" aria-controls="example1">
                                    Tệp báo cáo
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1">
                                    Đánh giá
                                </th>
                                <th>Tiến độ</th>
                                <th>Tình trạng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

}
else
{
<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">
                <p class="card-title col text-center text-danger">Bạn chưa đăng ký đề tài.</p>
            </div>

        </div>
    </div>
</div>
}

<input value="@ViewBag.IdDeTai" id="valueIdDeTai" hidden />

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titleHeader"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            @*@await Html.PartialAsync("_ValidationScriptsPartial")*@

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>