
@section Script{
    <script>
      (function () {
            $(function () {
                //init datatable
                var btnCreate = "<button type='button' class='btn btn-success btn-sm' id='btnCreate' data-toggle='modal' data-target='#modal-lg'>Tạo báo cáo</button>";
                var btnSave = "";
                var table = new CustomTable("example1", btnCreate, btnSave);
                table.Init();

                //
                $("#btnCreate").on('click', function () {
                    $(".titleHeader").text("Nội dung báo cáo");
                    $("#btnLuu").on('click', function () {
                        var TenDeTai = $("#InputTenDeTai").val();
                        var MoTa = $("#InputMoTa").val();
                        var FileMoTa = $("#customFile").val();
                        CreateNew(TenDeTai, MoTa, FileMoTa);
                    });
                });
            });
        })();
    </script>
}
<div class="content-header">
    <h1 class="text-center">
        Báo cáo tiến độ
    </h1>
    <hr />
</div>

@await Component.InvokeAsync("ListBaoCao")