

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titleHeader"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Component.InvokeAsync("TenDeTai")
                @await Component.InvokeAsync("GVHD")
                @await Component.InvokeAsync("DangKySV")
                @await Component.InvokeAsync("Mota")
            </div>
            @await Component.InvokeAsync("LuuHuyFooter")
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>