@model IEnumerable<BaiPost>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SinhVien/Views/Shared/_Layout.cshtml";
    var deTai = ViewBag.DeTai;
    var listDeTai = ViewBag.ListDeTai;
}

@section Script{

    <script src="~/Resources/SinhVien/ThaoLuan.js"></script>
    <script src="~/Resources/SinhVien/Comments.js"></script>
    <script src="~/Resources/CustomArrayImg.js"></script>
}

@if (Model != null)
{
    <div class="container" id="mydiv">
        <div class="row">
            <div class="col-md-4 p-3 card">
                @await Component.InvokeAsync("BtnTaoBaiDang")
                <br />
                <div class="form-group">
                    <select class="form-control select2" data-placeholder="Select a State" style="width: 100%;">

                        @foreach (var item in listDeTai)
                        {
                            if (item.Id == deTai.Id)
                            {
                                <option value="@item.Id" selected>@item.TenDeTai</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.TenDeTai</option>
                            }
                        }
                    </select>
                </div>
                @await Component.InvokeAsync("TimKiem")
                <div class="form-group" id="listBaiPost">
                    @await Component.InvokeAsync("ListBaiPosts", new { listbaipost = Model })
                </div>
            </div>

            <div class="col-md-8">
                <div hidden id="wait" class="overlay">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
                <div class="card card-widget">
                </div>
            </div>
        </div>
    </div>
}
else
{
<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">
                <p class="card-title col text-center text-danger">Bạn chưa đăng ký đề tài.</p>
            </div>

        </div>
    </div>
</div>
}

@*}
    else
    {
        <div class="text-red text-bold" align="center">Bạn chưa đăng ký đề tài nghiên cứu khoa học</div>
    }*@

<input type="text" id="valueIdBaiPost" hidden />

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titleHeader">Tạo bài đăng mới</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="formTaoBaiPost" enctype="multipart/form-data" onsubmit="return false;">
                    <div class="form-group">
                        <label>Tên tiêu đề</label>
                        <input type="text" id="InputTieuDe" class="form-control" placeholder="Nhập tên tiêu đề">
                        <span class="text-danger lblTieuDe"></span>
                    </div>
                    <div class="form-group">
                        <!-- <label for="customFile">Custom File</label> -->
                        <label>Nội dung bài đăng</label>
                        <textarea class="form-control" id="InputNoiDung" name="NoiDung" placeholder="Nhập nội dung"></textarea>
                        <div class="custom-file">
                            <input type="file" id="Files" accept="image/jpeg, image/png, image/jpg" class="custom-file-input" name="Files" multiple />
                            <label class="custom-file-label" for="customFile">Chọn hình ảnh </label>
                            <span class="text-danger lblFiles"></span>
                        </div>
                    </div>
                    @await Component.InvokeAsync("LuuHuyFooter")
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalImg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img class="img-responsive" style="width:100%;height:500px" id="LargeImg" />
            </div>
            @*@await Html.PartialAsync("_ValidationScriptsPartial")*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>