<div class="form-group">
    <label>Chọn GVHD</label>
    <select class="form-control">
        <option>GV 1</option>
        <option>GV 2</option>
        <option>GV 3</option>
        <option>GV 4</option>
        <option>GV 5</option>
    </select>
</div>