@model IEnumerable<Data.Models.GiangVien>

    <label>Chọn giảng viên (nếu có)</label>
    <select id="SelectGVHD" class="form-control" >
        <option selected>Chọn...</option>
        @foreach (var item in Model)
        {
            <option value="@item.Id">@item.Ho @item.Ten</option>
        }
    </select>
