@model IEnumerable<Data.Models.DeTaiNghienCuu>

<div class="form-group">
    <label>Chọn đề tài</label>
    <select id="SelectDeTai" class="form-control">
        <option>Chọn đề tài</option>
        @foreach (var item in Model)
        {
            <option value="@item.Id">@item.TenDeTai</option>
        }
    </select>
</div>