@model IEnumerable<Data.Models.SinhVien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/GVHD/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 p-3 card">
            <h4 class="text-center text-info">Thời gian: 20/1/2020 - 27/1/2020</h4>
            <hr />
            @await Component.InvokeAsync("TimKiem")
            <br />
            <label class="text-center">Đề tài xét duyệt</label>
            @await Component.InvokeAsync("ListBaiPost", new { ViewX = (int)Data.Enum.View.XetDuyetGV })
        </div>
        <div class="col-md-8 card">
            <div class="container">
                <div class="row justify-content-end">
                    @await Component.InvokeAsync("MarkEditDelete")
                </div>
                <div class="row">
                    <h3 class="col text-center">Tiêu đề bài đăng asdfojasfd jfsadfjfdsa  flsdjferewrfasfdsadffadsadsf fadsfadsf</h3>
                </div>
                <div class="row">
                    @await Component.InvokeAsync("HienThiNoiDungThaoLuan")

                </div>
                <div class="row">
                    @await Component.InvokeAsync("ToggleThongTinSinhVien", Model)
                </div>
                <div class="row">
                    <div class="col">
                        @await Component.InvokeAsync("VietBinhLuan", new { ViewX = Data.Enum.View.XetDuyetGV })
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col">
                        @await Component.InvokeAsync("ToggleListCauHoi")
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @await Component.InvokeAsync("VietDanhGia")
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @await Component.InvokeAsync("ToggleListDanhGia")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

