<div class="card-header">
    <div class="card-title">Tên đề tài xây dựng ứng dụng sinh viên đăng ký đề tài nghiên cứu khoa học</div>
</div>
<div class="card-body" id="NoiDung">
    <div class="row">
        <div class="mailbox-read-message">
            <p style="white-space: pre-line" id="txtNoiDungBaiPost">
                Kính gửi hội dồng,

                Nội dung mô tả sơ lược về đề tài. Nội dung mô tả sơ lược về đề tài. Nội dung mô tả sơ lược về đề tài. Nội dung mô tả sơ lược về đề tài
                Nội dung mô tả sơ lược về đề tài. Nội dung mô tả sơ lược về đề tài. Nội dung mô tả sơ lược về đề tài.

                Nhóm thực hiện.

                TEPDINHKEM.docx
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-right">
            <button class="btn btn-warning btn-sm">Chỉnh sửa</button>
        </div>
    </div>

    @*<div class="row">
            <label class="col text-center">Chưa nộp báo cáo</label>
        </div>
        <div class="row">
            <div class="col text-center"><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-NopBaoCao">Nộp báo cáo</button></div>*@
</div>
<hr />

<div class="row">
    <div class="col-12">
        <div class="card card-navy">
            <div class="card-header">
                <h2 class="card-title">Đánh giá của hội đồng</h2>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="example1" class="table table-bordered table-hover dataTable table-sm" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="example1">
                                Vai trò
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example1">
                                Đánh giá
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>