<div class="row">
    <div class="card card-default w-100">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-comments"></i>
                <b>Bình luận</b>
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            <div class="callout callout-info">
                <h5>Tên sinh viên 1</h5>

                <p>Phần bình luận.</p>
            </div>
            <div class="callout callout-warning">
                <h5>Giảng viên hướng dẫn</h5>

                <p>Phần bình luận.</p>
            </div>
            <div class="callout callout-info">
                <h5>Tên sinh viên 2</h5>

                <p>Phần bình luận.</p>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->