<div class="row">
    <div class="card card-default w-100">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-comments"></i>
                <b>Bình luận</b>
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="callout callout-info">
                <div class="row">
                    <b class="col">Sinh viên 1</b>
                    <span class="col-auto text-muted float-right">8:03 PM Today</span>
                </div>
                <p>
                    Nội dung bình luận.
                </p>
            </div>
            <div class="callout callout-warning">
                <div class="row">
                    <b class="col">Giảng viên hướng dẫn</b>
                    <span class="col-auto text-muted float-right">8:03 PM Today</span>
                </div>
                <p>
                    Nội dung bình luận.
                </p>
            </div>
            <div class="callout callout-info">
                <div class="row">
                    <b class="col">Sinh viên 2</b>
                    <span class="col-auto text-muted float-right">8:03 PM Today</span>
                </div>
                <p>
                    Nội dung bình luận.
                </p>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->