@using KLTN.Areas.GVHD.Models
@model DeTaiNghienCuuViewModel

            <form method="post" enctype="multipart/form-data" onsubmit="return false;">
                
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên đề tài</label>
                        <input type="text" asp-for="TenDeTai" id="InputTenDeTai" name="TenDeTai" class="form-control" placeholder="Nhập tên đề tài">
                        <span asp-validation-for="TenDeTai" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <!-- <label for="customFile">Custom File</label> -->
                        <label>Mô tả</label>
                        <textarea class="form-control" id="InputMoTa" name="MoTa" placeholder="Nhập mô tả"></textarea>
                        <div class="custom-file">
                            <input asp-for="Files" type="file" class="custom-file-input" id="Files" name="Files">
                            @if (Model.TenTep != null)
                            {
                                <label class="custom-file-label" for="customFile">@Model.TenTep</label>
                            }
                            else
                            {<label class="custom-file-label" for="customFile">Chọn tệp</label>}
                            <span asp-validation-for="Files" class="text-danger"></span>
                        </div>
                    </div>
                @await Component.InvokeAsync("LuuHuyFooter")
            </form>
        