@using KLTN.Areas.GVHD.Models
@using Data.Enum
@model IEnumerable<Data.Models.DeTaiNghienCuu>
@{
    ViewData["Title"] = "Index";
}
<style type="text/css">
   .changeRowColor{
       background: #DCFEF6  
   }
}
</style>
@section Script{
    <script src="~/Resources/GVHD/DeTaiNghienCuu.js"></script>
    <script type="text/javascript">
        // func test
        var EditAction = function (id) {
            url = "/GVHD/QLDeTai/Edit/" + id;
            $(".modal-body").load(url, function () {
                $("#CheckType").val(1);
                $("#modal-lg").modal();
                //$("#modal-lg").html("");
            });
        }

        var XemNhom = function (id) {
            $("#modal-NhomSV .modal-body").html("");
            $.get('/GVHD/QLDeTai/XemNhom/' + id, function (content) {
                $("#modal-NhomSV .modal-body").html(content);
                $("#modal-NhomSV").modal();
            });
        }

        var CreateAction = function () {
            url = "/GVHD/QLDeTai/Create/";
            $(".modal-body").load(url, function () {
                $("#CheckType").val("");
                $("#modal-lg").modal();
                //$("#modal-lg").html("");
            });
        }
    </script>
}
<div class="content-header">
    <h1 class="text-center">
        Danh sách đề tài nghiên cứu khoa học
    </h1>
    <hr />
</div>

<div class="card" >
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            @*<div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div></div><div class="row">*@
            <div class="col-sm-12">
                <table id="example1" class="table table-bordered dataTable table-hover table-sm nowrap" role="grid" aria-describedby="example1_info">
                    <thead >
                        <tr role="row">
                            <th rowspan="1"></th>
                            <th tabindex="0" aria-controls="example1" rowspan="1">
                                Mã đề tài
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1">
                                Tên đề tài
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1">
                                Mô tả
                            </th>
                            <th class="sorting_desc" tabindex="0" aria-controls="example1" rowspan="1">
                                Ngày tạo
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1">
                                Nhóm thực hiện
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1">
                                Tiến độ
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1">
                                Tệp đính kèm
                            </th>
                            <th tabindex="0" aria-controls="example1" rowspan="1">
                                Tình trạng đề tài
                            </th>
                            <th tabindex="0" aria-controls="example1" rowspan="1">
                                Yêu cầu
                            </th>
                            <th>

                            </th>
                        </tr>

                    </thead>
                    
                </table>
            </div>
        </div>
        @*<div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>*@
    </div>
    @*@await  Component.InvokeAsync("DangKySV")*@
</div>

<input class="form-control" id="CheckType" type="number" hidden />


<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titleHeader"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_CreateEditPopup", new DeTaiNghienCuuViewModel { })
            </div>
                @*@await Html.PartialAsync("_ValidationScriptsPartial")*@
            </div>
            <!-- /.modal-content -->
        </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal" id="ConfirmDelete">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Xác nhận hủy đề tài?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnXoa">Có</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modal-NhomSV">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-navy">
                <h3 class="card-title">Thông tin nhóm thực hiện</h3>
                <button type="button" class="close btn btn-tool" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
            </div>
            @*@await Html.PartialAsync("_ValidationScriptsPartial")*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>