@model Views
<div class="row">
    <div class="mailbox-read-message" id="txtNoiDungBaiPost">
       
    </div>
    
    <textarea type="text" class="form-control" id="inputNoiDung" hidden></textarea>

</div>

<!-- /.card-body -->
<div class="card-footer bg-white">
    <ul class="mailbox-attachments d-flex align-items-stretch clearfix h-100" id="imgAttach">
    </ul>
    <input type="file" id="imgFile" accept="image/jpeg, image/png, image/jpg" class="custom-file-input" hidden multiple/>
</div>

<div class="d-flex flex-row-reverse mb-2">
    <button class="btn btn-danger btnHuyEdit ml-1" hidden>Hủy</button>
    <button class="btn btn-success btnLuuEdit" hidden>Lưu</button>
</div>

