
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/GVHD/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="image">
                <img src="~/img/logosgu.png" class="img-circle img-thumbnail" alt="User Image">
            </div>
            <div></div>
        </div>
        <div class="col-8">

        </div>
    </div>
</div>

