<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Gửi đánh giá</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form">
        <div class="card-body">
            <div class="form-group">
                <label>Đánh giá </label>
                <textarea class="form-control" rows="3" placeholder="Nhập đánh giá..."></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Điểm</span>
                </div>
                <input type="number" class="form-control" placeholder="Nhập điểm...">
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-success">Gửi đánh giá</button>
        </div>
    </form>
</div>