@using KLTN.Areas.GVHD.Models
@model BaiPostViewModel

    <form method="post" id="formTaoBaiPost" enctype="multipart/form-data" onsubmit="return false;">

        <div class="form-group">
            <label>Tên tiêu đề</label>
            <input type="text" id="InputTieuDe" asp-for="TieuDe" name="TieuDe" class="form-control" placeholder="Nhập tên tiêu đề">
            <span asp-validation-for="TieuDe" class="text-danger"></span>
        </div>

        <div class="form-group">
            <!-- <label for="customFile">Custom File</label> -->
            <label>Nội dung bài đăng</label>
            <textarea class="form-control" id="InputNoiDung" name="NoiDung" placeholder="Nhập nội dung"></textarea>
            <div class="custom-file">
                <input asp-for="Files" type="file" id="Files" class="custom-file-input" name="Files" multiple />
                <label class="custom-file-label" for="customFile">Chọn hình ảnh </label>
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6 form-group">
                <label>Chế độ bài đăng</label>
                <div class="row">
                    <div class="col text-center">
                        <input type="checkbox" class="form-check-input publicCheck"><label>Công khai</label>
                    </div>

                    <div class="col text-center">
                        <input type="checkbox" class="form-check-input privateCheck"><label>Riêng tư</label>
                    </div>
                    <span class="text-danger textCheckbox"></span>

                </div>
            </div>
            <div class="col-6" id="divChonDeTai" hidden>@await Component.InvokeAsync("ChonDeTai", User.Identity.Name)</div>
        </div>
        @await Component.InvokeAsync("LuuHuyFooter")
    </form>
