@model IEnumerable<Data.Models.BaiPost>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/GVHD/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 p-3 card">
            @await Component.InvokeAsync("BtnTaoBaiDang")
            <br />
            @await Component.InvokeAsync("TimKiem")
            <br />
            @await Component.InvokeAsync("ListBaiPost", new KLTN.Models.TabListViewModel() { ViewType = (int)Data.Enum.ViewType.ThaoLuanGV, ListBaiPostThaoLuan = Model})
        </div>
        <div class="col-md-8 card">
            <div hidden id="wait" class="overlay">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
            <div class="container">
                <div class="row justify-content-end">
                    @await Component.InvokeAsync("MarkEditDelete")
                </div>
                <div id="txtTieuDeBaiPost" class="row">
                    <h3 class="col text-center">Tiêu đề bài đăng asdfojasfd jfsadfjfdsa  flsdjferewrfasfdsadffadsadsf fadsfadsf</h3>
                </div>
                <div class="row">
                    @await Component.InvokeAsync("HienThiNoiDungThaoLuan")
                </div>

                <div class="row">
                    <div class="col">
                        @await Component.InvokeAsync("VietBinhLuan", new { ViewX = Data.Enum.ViewType.ThaoLuanGV })
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col">
                        @await Component.InvokeAsync("ListBinhLuan")
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function ()
    {
     
        $("#btnSearch").click(function ()
        {
            var SearchString = $("#txtSearch").val();
            
            var CongKhaiTab = $("#custom-tabs-one-home-tab").hasClass("active");
            if (CongKhaiTab)
            {
                var SetBaiPostCongKhai = $("#tblCongKhai");
                SetBaiPostCongKhai.html("");
            }
            else
            {
                var SetBaiPostRiengTu = $("#tblRiengTu");
                SetBaiPostRiengTu.html("");
            }
            
            $.ajax({
                url: "/GVHD/ThaoLuan/SearchBaiPost",
                type: "post",
                data: {
                    SearchString: SearchString,
                    CongKhaiTab: CongKhaiTab
                },
                dataType: "json",
                success: function (response)
                {
                    if (response.status)
                    {

                        if (CongKhaiTab)
                        {
                            $.each(response.data, function (i, item)
                            {
                                var Data = '<tr id="' + item.id + '">' +
                                    '<td><label class="text-truncate" style="max-width: 190px">' + item.tieuDe + '</label ></td >' +
                                    '<td>' + item.ngayPost + '</td>' +
                                    '</tr>';
                                SetBaiPostCongKhai.append(Data);
                            });
                        }
                        else
                        {
                            $.each(response.data, function (i, item)
                            {
                                var Data = '<tr id="' + item.id + '">' +
                                    '<td><label class="text-truncate" style="max-width: 190px">' + item.tieuDe + '</label ></td >' +
                                    '<td>' + item.ngayPost + '</td>' +
                                    '</tr>';
                                SetBaiPostRiengTu.append(Data);
                            });
                        }
                    }
                    else
                    {
                        if (CongKhaiTab)
                        {
                            SetBaiPostCongKhai.append('<tr><td colspan="2">Không tìm thấy tiêu đề</td></tr>');
                        }
                        else
                        {
                            SetBaiPostRiengTu.append('<tr><td colspan="2">Không tìm thấy tiêu đề</td></tr>');
                        }
                        
                    }
                }
            })
        });

        $("#LkRefreshList").click(function ()
        {
            var CongKhaiTab = $("#custom-tabs-one-home-tab").hasClass("active");
            if (CongKhaiTab)
            {
                var SetBaiPostCongKhai = $("#tblCongKhai");
                SetBaiPostCongKhai.html("");
            }
            else
            {
                var SetBaiPostRiengTu = $("#tblRiengTu");
                SetBaiPostRiengTu.html("");
            }

            $.ajax({
                url: "/GVHD/ThaoLuan/RefreshList",
                type: "post",
                data: {
                    CongKhaiTab: CongKhaiTab
                },
                dataType: "json",
                success: function (response)
                {
                    if (response.status)
                    {
                        if (CongKhaiTab)
                        {
                            $.each(response.data, function (i, item)
                            {
                                var Data = '<tr id="' + item.id + '">' +
                                    '<td><label class="text-truncate" style="max-width: 190px">' + item.tieuDe + '</label ></td >' +
                                    '<td>' + item.ngayPost + '</td>' +
                                    '</tr>';
                                SetBaiPostCongKhai.append(Data);
                            });
                        }
                        else
                        {
                            $.each(response.data, function (i, item)
                            {
                                var Data = '<tr id="' + item.id + '">' +
                                    '<td><label class="text-truncate" style="max-width: 190px">' + item.tieuDe + '</label ></td >' +
                                    '<td>' + item.ngayPost + '</td>' +
                                    '</tr>';
                                SetBaiPostRiengTu.append(Data);
                            });
                        }
                    }
                }
            })
        });

        $(document).on("click", "#tblCongKhai tr",function ()
        {
            $('#tblCongKhai tr').removeClass("table-info");
            $(this).toggleClass("table-info");

            var idbaipost = $(this).attr("id");
            var SetNoiDung = $("#txtNoiDungBaiPost");
            var SetTieuDe = $("#txtTieuDeBaiPost");
            SetTieuDe.html("");
            SetNoiDung.html("");

            $.ajax({
                url: "/GVHD/ThaoLuan/NoiDungBaiPost",
                type: "post",
                data: {
                    idbaipost: idbaipost
                },
                dataType: "json",
                success: function (response)
                {
                    if (response.status)
                    {
                        var datatieude = '<h3 class="col text-center">' + response.data.tieuDe + '</h3>';
                        SetTieuDe.append(datatieude);
                    }
                }
            })
        });

        $(document).on("click", "#tblRiengTu tr", function ()
        {
            $('#tblRiengTu tr').removeClass("table-info");
            $(this).toggleClass("table-info");

            var idbaipost = $(this).attr("id");
            var SetNoiDung = $("#txtNoiDungBaiPost");
            var SetTieuDe = $("#txtTieuDeBaiPost");
            SetTieuDe.html("");
            SetNoiDung.html("");

            $.ajax({
                url: "/GVHD/ThaoLuan/NoiDungBaiPost",
                type: "post",
                data: {
                    idbaipost: idbaipost
                },
                dataType: "json",
                success: function (response)
                {
                    if (response.status)
                    {
                        var datatieude = '<h3 class="col text-center">' + response.data.tieuDe + '</h3>';
                        SetTieuDe.append(datatieude);
                    }
                }
            })
        });
    });
</script>