@using KLTN.Areas.GVHD.Models
@model IEnumerable<Data.Models.BaiPost>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/GVHD/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .img-wrap {
    position: relative;
}
.img-wrap .close {
    position: absolute;
    right: 2px;
    z-index: 100;
}
.nondisplay{ display:none;
}

</style>

@section Script{
    <script src="~/Resources/GVHD/ThaoLuan.js"></script>
    <script src="~/Resources/GVHD/Comments.js"></script>
    <script src="~/Resources/CustomArrayImg.js"></script>
    <script type="text/javascript">
        var LoadComments = function (id) {
            var cardbody = $('#bodyComments');
            $.get('/GVHD/ThaoLuan/LoadComments/' + id, function (data) {
                $.each(data, function (i, item) {
                    var img = '';
                    if (item.anhDinhKem != null)
                        img = '<img style="width:30%; height:30%" data-toggle="modal" data-target="#modalImg" data-src="/../../img/GVHD/Comments/'+item.anhDinhKem+'" src="/../../img/GVHD/Comments/'+item.anhDinhKem+'" alt="Attachment">';
                    var html = '<div class="card-comment">'+
                                '<img class="img-circle img-sm" src="../dist/img/user3-128x128.jpg" alt="User Image">'+
                                '<div class="comment-text">'+
                                    '<span class="username">'+item.nguoiComment+'<span class="text-muted float-right">'+item.ngayPost+'</span>'+
                                    '</span><!-- /.username -->'+
                                    item.noiDungComment + 
                                        '</div>' +
                                        '<span class="mailbox-attachment-icon has-img">'+
                                    img +
                                    '</span>' +
                                        '</div>';
                    cardbody.prepend(html);
                })
                var length = $('#bodyComments .card-comment').length;
                if (length > 6) {
                    $('#bodyComments .card-comment').slice(5).addClass('nondisplay');
                    $('#showMore').prop("hidden", false);
                }
            });
            
            //var countDiv = $('#bodyComments div').length;
            //$.ajax({
            //    url: '/GVHD/ThaoLuan/LoadComments',
            //    type: 'POST',
            //    data: { id: id },
            //});
        }
    </script>
}

<div class="container" id="mydiv">
    <div class="row">
        <div class="col-md-4 p-3 card" >
            @await Component.InvokeAsync("BtnTaoBaiDang")
            <br />
            @await Component.InvokeAsync("TimKiem")
            <br />
            @await Component.InvokeAsync("ListBaiPost", new KLTN.Models.TabListViewModel() { ViewType = (int)Data.Enum.ViewType.ThaoLuanGV, ListBaiPostThaoLuan = Model })
        </div>
        <div class="col-md-8">
            <div hidden id="wait" class="overlay">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
            @await Html.PartialAsync("_NoiDung")
        </div>
    </div>
</div>

<input type="text" id="valueIdBaiPost" hidden/>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titleHeader">Tạo bài đăng mới</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_CreatePopup",new BaiPostViewModel { })
            </div>
            @*@await Html.PartialAsync("_ValidationScriptsPartial")*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalImg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img class="img-responsive" style="width:100%;height:500px" id="LargeImg"/>
            </div>
            @*@await Html.PartialAsync("_ValidationScriptsPartial")*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
