
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/GVHD/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 p-3 bg-white">
            @await Component.InvokeAsync("TimKiem")
            <br />
            @await Component.InvokeAsync("ListBaiPost")
        </div>
        <div class="col-md-8">
            @await Component.InvokeAsync("NoiDungThaoLuan")
        </div>
    </div>
</div>


