@model IEnumerable<Data.Models.BaiPost>

    <table class="table table-borderless table-hover dataTable table-sm" role="grid" id="tblSinhVien">
        @if (Model.Any())
        {
            foreach (var item in Model)
            {

                <tr id="@item.Id">
                    <td><label class="text-truncate" style="max-width: 190px">@item.TieuDe</label></td>
                    <td>@item.NgayPost.Value.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        }
        else
        {
            <tr class="row"><td class="col text-center">Không có dữ liệu</td></tr>
        }
    </table>
