    <div class="user-block" id="loadUser">
        
    </div>
    <!-- /.user-block -->
    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
            <i class="far fa-star"></i>
        </button>
        <button type="button" class="btn btn-tool btnEdit">
            <i class="fas fa-pencil-alt"></i>
        </button>
        <button type="button" class="btn btn-tool btnDelete">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <!-- /.card-tools -->
