
    <div class="btn-group">
        <button type="button" class="btn btn-warning">
            <i class="far fa-star"></i>
        </button>
        <button type="button" class="btn btn-warning">
            <i class="fas fa-pencil-alt"></i>
        </button>
        <button type="button" class="btn btn-warning">
            <i class="far fa-trash-alt"></i>
        </button>
    </div>