@model LoginRequest
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Đăng nhập</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
    <img class="img-fluid w-100 h-100" style="position: relative;" src="~/img/school1.jpg" />
    <div class="container" >
        <div class="row h-100 align-items-center justify-content-around pt-lg-5">
            @*<div class="col-md-8">
            <img class="img-fluid w-100 h-100" src="~/img/school.jpg" />
        </div>*@
            
            <div class="login-box" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <div class="login-logo">
                    
                </div>
                <!-- /.login-logo -->
                <div class="card">
                    <div class="login-logo">
                        Đăng nhập
                    </div>
                    <div class="card-body login-card-body">
                        <form method="post" asp-controller="Home" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl">
                            <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Tài khoản" asp-for="Username">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Mật khẩu" asp-for="Password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7">
                                    <div class="icheck-primary">
                                        <input type="checkbox" id="remember" asp-for="RememberMe">
                                        <label for="remember">
                                            Ghi nhớ
                                        </label>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-5">
                                    <button type="submit" class="btn btn-primary btn-block" value="Login">Đăng nhập</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>

                        <hr />
                        <p class="mb-1">
                            <a href="forgot-password.html">Quên mật khẩu</a>
                        </p>
                    </div>
                    <!-- /.login-card-body -->
                </div>
            </div>
        </div>
    </div>

    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>

</body>
</html>

