
        
    <div class="form-group">
        <!-- <label for="customFile">Custom File</label> -->
        <label>Mô tả</label>
        <input type="text" class="form-control" id="InputMoTa" placeholder="Nhập mô tả">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" placeholder="Nhập mô tả">
            <label class="custom-file-label" for="customFile">Chọn tệp</label>
        </div>
    </div>
    

