
        
    <div class="form-group">
        <!-- <label for="customFile">Custom File</label> -->
        <label>Mô tả</label>
        <textarea class="form-control" name="InputMoTa" placeholder="Nhập mô tả"></textarea> 
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="files">
            <label class="custom-file-label" for="customFile">Chọn tệp</label>
        </div>
    </div>
    

