<div class="container">
    <div class="row justify-content-end">
        <div class="btn-group">
            <button type="button" class="btn btn-warning">
                <i class="far fa-star"></i>
            </button>
            <button type="button" class="btn btn-warning">
                <i class="fas fa-pencil-alt"></i>
            </button>
            <button type="button" class="btn btn-warning">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>

    </div>
    <div class="row">
        <h3 class="col text-center">Tiêu đề bài đăng asdfojasfd jfsadfjfdsa  flsdjferewrfasfdsadffadsadsf fadsfadsf</h3>
    </div>
    <div class="row">
        @await Component.InvokeAsync("HienThiNoiDungThaoLuan")
    </div>

    <div class="row">
        <div class="col">
            @await Component.InvokeAsync("VietBinhLuan")
        </div>
        
    </div>
    
    
    <div class="row">
        <div class="col">
            @await Component.InvokeAsync("ListBinhLuan")
        </div>
    </div>
    
</div>