@model Data.Models.MoDot
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text bg-danger" title="Thời gian mở đợt"><i class="far fa-clock"></i></span>
        </div>
        <input disabled title="Thời gian mở đợt" type="text" class="form-control float-right" value="@Model.ThoiGianBd.Value.ToString("HH:mm, dd/MM/yyyy") - @Model.ThoiGianKt.Value.ToString("HH:mm, dd/MM/yyyy")">
    </div>
</div>