@*@model IEnumerable<Data.Models.SinhVien>*@
<section class="content w-100">

    <!-- Default box -->
    <div class="card collapsed-card">
        <div class="card-header bg-navy">
            <h3 class="card-title">Câu hỏi</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="callout callout-warning">
                <div class="row">
                    <h5 class="col">Chủ nhiệm</h5>
                    <span class="col-auto text-muted float-right">8:03 PM Today</span>
                </div>
                <p>
                    Câu hỏi 1
                </p>
                <p>
                    Câu thứ 2
                </p>
                <button class="btn btn-dark">Câu trả lời</button>
            </div>
            <div class="callout callout-warning">
                <div class="row">
                    <h5 class="col">Thư ký</h5>
                    <span class="col-auto text-muted float-right">8:03 PM Today</span>
                </div>
                <p>
                    Câu hỏi 2
                </p>
                <button class="btn btn-dark">Câu trả lời</button>
            </div>
            <div class="callout callout-warning">
                <div class="row">
                    <h5 class="col">Ủy viên</h5>
                    <span class="col-auto text-muted float-right">8:03 PM Today</span>
                </div>
                <p>
                    Câu hỏi 3
                </p>
                <button class="btn btn-dark">Câu trả lời</button>
            </div>
            <div class="callout callout-warning">
                <div class="row">
                    <h5 class="col">Phản biện 1</h5>
                    <span class="col-auto text-muted float-right">8:03 PM Today</span>
                </div>
                <p>
                    Câu hỏi 4
                </p>
                <button class="btn btn-dark">Câu trả lời</button>
            </div>
        </div>
    </div>
    <!-- /.card -->

</section>
