<div class="container">
    <div class="row">
    <div class="col">
        <nav class="navbar-expand navbar-white navbar-light">
            <form class="form">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Tìm kiếm">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </nav>
    </div>

    <div class="col-auto m-auto">
        <a href="#">
            <i class="fas fa-sync fa-lg"></i>
        </a>
    </div>

</div>
</div>


