
    <div class="row">
        <div class="col">
            <nav class="navbar-white navbar-light">

                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" id="txtSearch" type="search" placeholder="Tìm kiếm...">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" id="btnSearch">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

            </nav>
        </div>

        <div class="col-auto m-auto">
            <a id="LkRefreshList">
                <i class="fas fa-sync fa-lg text-navy"></i>
            </a>
        </div>
    </div>



