@model Data.Models.CtxetDuyetVaDanhGia

<div class="card-header">
    <div class="card-title">Tên đề tài</div>
</div>
<div class="card-body" id="NoiDung">
    <div class="row">
        <div class="mailbox-read-message">
            <p style="white-space: pre-line" id="txtNoiDungBaiPost">
                Kính gửi hội dồng,

                Nội dung mô tả sơ lược về đề tài. Nội dung mô tả sơ lược về đề tài. Nội dung mô tả sơ lược về đề tài. Nội dung mô tả sơ lược về đề tài
                Nội dung mô tả sơ lược về đề tài. Nội dung mô tả sơ lược về đề tài. Nội dung mô tả sơ lược về đề tài.

                Nhóm thực hiện.

                TEPDINHKEM.docx
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="w-100 btn btn-warning">Thông tin nhóm thực hiện</button>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-12 text-center">
            <h3 class="form-group text-center">Phần đánh giá</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group">
                <textarea type="text" class="form-control" placeholder="Nhập câu hỏi..."></textarea>
                <span class="input-group-append">
                    <button type="button" class="btn btn-info btn-flat">Đặt câu hỏi</button>
                </span>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-12">
            <div class="card card-navy">
                <div class="card-header">
                    <h2 class="card-title">Câu hỏi của hội đồng</h2>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-hover dataTable table-sm" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="example1">
                                    Vai trò
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1">
                                    Câu hỏi
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1">
                                    Thời gian
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1">
                                    Câu trả lời
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="input-group">
                <textarea type="text" class="form-control" placeholder="Nhập đánh giá..."></textarea>
                <input type="number" class="form-control" style="height:63px; width:10px" placeholder="Nhập điểm..." />
                <span class="input-group-append">
                    <button type="button" class="btn btn-info btn-flat">Gửi đánh giá</button>
                </span>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-12">
            <div class="card card-navy">
                <div class="card-header">
                    <h2 class="card-title">Đánh giá của hội đồng</h2>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-hover dataTable table-sm" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="example1">
                                    Vai trò
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1">
                                    Đánh giá
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1">
                                    Thời gian
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1">
                                    Điểm
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

