
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section Script{
    <script src="~/Resources/Admin/QLHoiDong.js"></script>
<script type="text/javascript">

    var EditAction = function (id) {
        url = "/Admin/QLHoiDong/ThanhLapHoiDong/"+id;
        $('#modal-lg .modal-body').html('');
        $.get(url, function (data) {
            $(".titleHeader").html("Chỉnh sửa hội đồng");
            $('#modal-lg .modal-body').html(data);
            $('#modal-lg').modal();
        })
    }

    var CreateAction = function () {
        url = "/Admin/QLHoiDong/ThanhLapHoiDong/";
        $('#modal-lg .modal-body').html('');
        $.get(url, function (data) {
            $(".titleHeader").html("Lập hội đồng mới");
            $('#modal-lg .modal-body').html(data);
            $('#modal-lg').modal();
        })
    }
</script>
 }
<div class="content-header">
    <h1 class="text-center">
        Danh sách hội đồng
    </h1>
    <hr />
</div>

<div class="card">
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            @*<div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div></div><div class="row">*@
            <div class="col-sm-12">
                <table id="example1" class="table table-bordered dataTable table-hover table-sm nowrap" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row" align="center">
                            <th>
                                Mã hội đồng
                            </th>
                            <th class="sorting_desc" tabindex="0" aria-controls="example1">
                                Hội đồng
                            </th>
                            <th class="text-center">
                                Họ tên thành viên
                            </th>
                            <th class="text-center">
                                Vai trò
                            </th>
                        </tr>

                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titleHeader"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_ThanhLapHoiDong")
            </div>
            @*@await Html.PartialAsync("_ValidationScriptsPartial")*@

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal" id="ConfirmDelete">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Xác nhận hủy hội đồng?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnXoa">Có</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
            </div>

        </div>
    </div>
</div>