@model Views  
   
<div class="row">
        <div class="col">
            <nav class="navbar-expand navbar-white navbar-light">
                <div class="input-group input-group-lg">
                    @if (Model.ViewType == (int)Data.Enum.ViewType.ThaoLuanGV)
                    {
                        <textarea class="form-control form-control-navbar" placeholder="Viết bình luận"></textarea>
                    }
                    else if (Model.ViewType == (int)Data.Enum.ViewType.XetDuyetGV)
                    {
                        <textarea class="form-control form-control-navbar" placeholder="Đặt câu hỏi"></textarea>
                    }
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-image"></i>
                        </button>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-navbar">
                            <i class="fas fa-arrow-alt-circle-right"></i>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
        @*<div class="col-md-2 w-100">
            <button type="button" class="btn btn-primary h-100 w-100">Đăng</button>
        </div>*@
</div>
